.app-div {
  background-color: red;
}

body {
  /*move these into content wrapper later*/
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0;
  background-size:100%;
  /*background-image: url('https://cloud.githubusercontent.com/assets/11833296/11870559/a8c28fc2-a4c0-11e5-8720-c32b3614bc3e.png');*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #A5D15E;
  background-color:#E6E7E8 ;

  }

.form-control {
  width:60%;
  margin:0;
  color:grey;
}

#airportSelector1239303427, #flightNumberSelector-1316717565, #emailInput880898440, #flightNumberSelector496936136, #airlineSelector-377257183, #flightNumberSelector-1375836631{
  width:80%;
  color:grey;
  margin:0 auto;
}

.datepicker__input{
  width:80%;
  margin:0 auto;
  margin-left:2.4em;
  color:grey;

}

/*.input-div {
  width:60%;
  margin:auto;
  color:blue;
}*/
.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.margin-main-content {
  margin-left: 1em;
  margin-right: 1em;
}

.pull-out {
  margin-left: -1em;
  margin-right: -1em;
}

.content-wrapper {
  padding: 0, 1em, 0, 1em;
}

.logo {
  height:4em;
  display: block;
  margin: -1em auto;
  margin-right:27%;

}

.slogan {
  margin-top:2em;
  text-align: center;
  font-size: 200%;
  color:#70B500;

}

.view-text {
  margin-top: 2em;
  text-align: center;
  font-size: 140%;
}
.next-button {
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: grey;
  position: fixed;
  text-align: center;
  text-decoration: none;
  padding: 1em 0 2em 0;
  color: white;
  left: 0;
  right: 0;
}

.food-type-list {
  width: 100%;
  height: 3em;
  background-color: white;
  color:#70B500;
  /*position: fixed;*/
  text-align: center;
  text-decoration: none;
  padding: 1em 0 2em 0;
  font-size: 130%;
}

.basket-bar {
  bottom: 0;
  width: 100%;
  padding: 1.5em 0 1em 0;
  height: 3em;
  background-color: grey;
  position: fixed;
  text-decoration: none;
  color: white;
  font-size: 130%;
  left: 0;
  right: 0;
}

.header {
  height: 4em;
  width: 100%;
  top: 0;
  background-color: #231F20;
  position: fixed;
  padding: 1em 0 1em 0;
  z-index: 1;
}

.padding-top {
  padding-top: 2em;
}

.about-link{
  text-decoration: none;
  float:right;
  padding-right: 2em;
  margin-top:-1.5em;
  color: #1CBBE6;
}

.home-link{
  text-decoration: none;
  float:left;
  padding-left: 2em;
  margin-top:0.5em;
  color: #1CBBE6;
}

.food-search{
  width:100%;
  margin:auto;
  padding-top:1em;
  color:grey;
  height:3em;
}

.restaurant-logo {
  height:18em;
  width:100%;
}

.restaurant-logo {
  height:18em;
  width:100%;
}

.restaurant-logo-wrapper {
  position:relative;
  width:100%;
}

.restaurant-name {
  position:absolute;
  top:5em;
  left: 0;
  width: 100%;
  color: white;
}

.restaurant-name-on-menu{
  position:absolute;
  top:1em;
  left: 0;
  width: 100%;
  color: white;
  text-align:center;
}
.restaurant-description-on-menu {
  position:absolute;
  top:6em;
  left: 0;
  width: 100%;
  color: white;
  text-align:center;
}

.glyphicon-tag {
  color:black;
}


.basket-bar {
  position: fixed;
  bottom: 0em;
  left:0;
  display: inline;
  line-height:0.4em;
  width: 100%;
  z-index:1;
  background-color: grey;
}

.basket-bar-text{
  margin-left:1.1em;
  margin-right:1.1em;
  line-height:0.3em;
  font-weight: bold;
}

.basket-bar-cart{
  line-height:0.1em;
}

.flight-details-div{
  text-align:center;
}

.basket-prices{
  font-weight: bold;
}

.clear-button{
  color:blue;
  top: 2em;
}

.order-more-link{
  display:inline;
  text-decoration: underline;
  color: #70B500;
}
