* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

label {
  font-size: 1em;
  font-weight: 400;
}

#brand-logo {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

/* Header Bar */

.header {
  position: fixed;
  font-weight: 300;
  font-size: 1.5em;
}


.icon-right {
  margin-right: 1em;
}

.icon-left {
  margin-left: 1em;
}


.red-nav {
  background-color: #FF0D1C;
  color: #ffffff;
}

.red-nav > p {
  color: white;
}

.white-nav {
  background-color: #ffffff;
  color: #FF0D1C;
}

.white-nav > p {
  color: black;
}

.white-text {
  color: #ffffff;
}

.side-nav a {
  font-size: medium;
  width: 100%;
  text-align: right;
}

a:focus, a:hover {
  text-decoration: none;
}

.nav-class {
  z-index: 1;
}

.side-nav {
  z-index: -1;
}

.red-side-nav{
  background-color: #FF0D1C;
}

.red-side-nav.fixed a {
  color: #ffffff;
}

.white-side-nav.fixed a {
  color: black;
}

/*Body and General*/

.logo-container {
  height: 100px;
  width: 150px;
}

.margin-main-content {
  margin-left: 2.6em;
}

.top-line {
  color: #FF0D1C;
  margin-top: 2em;
}

.p-top-margin {
  margin-top: 1em;
}

.base-button {
  background-color: #FF0D1C;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.base-button:focus, .base-button:active, .base-button:visited {
  background-color: #FF0D1C;
}

.base-button:hover {
  background-color: #F04E5A;
}

.button-wrapper {
  bottom: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 35px;
}

.white-button {
  background-color: #ffffff;
  border: 1px solid #FF0D1C;
  width: 100%;
  bottom: 0;
  color: black;
}

.white-button:focus, .white-button:active, .white-button:visited, .white-button:hover {
  background-color: #ffffff;
}

.red-button {
  background-color: #FF0D1C;
  width: 100%;
  bottom: 0;
  margin-bottom: 15px;
}

.red-button:focus, .red-button:active, .red-button:visited {
  background-color: #FF0D1C;
}

.body-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.question-container {
  padding-top: 2.5em;
}

.standard-question-style {
  font-weight: 350;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  color: #FF0D1C;
}

.dropdown {
  text-align: left;
}

.no-margin {
  margin: 0;
}

.red-color {
  color: #FF0D1C;
}

.custom-container {
  padding-bottom: 4.5em;
}

.larger-custom-container {
  margin-bottom: 5em;
}

.small-text {
  margin-left: 1em;
  font-size: 11px;
  margin-bottom: 0;
}

.fixed-above-button {
  bottom: 0;
  position: fixed;
  margin-bottom: 4em;
}

.map-link {
  border-bottom: #E12534 solid 1px;
}


/* Login Screen */

.top-container {
  padding-top: 3em;
}

/* Landing Page */

#gate {
  color:  #FF0D1C;
}

.modal-return-div {
  display: none;
}

#flight-too-soon-modal {
  height: 325px;
  top: 0% !important;
}

.flight-too-soon-text {
  margin: 1em;
}

.top-line {
  color: #FF0D1C;
  margin-top: 2em;
}

.flight-detail {
  margin: 0;
}

.flight-detail-label {
  font-weight: bold;
}

.flight-detail-container {
  text-align: center;
  width: 65%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #FF0D1C;
  max-width: 250px;
}

/* datepicker */

.picker__date-display {
  background-color: #FF0D1C;
}

.picker__weekday-display {
  background-color: #FF0D1C;
}

.picker__day.picker__day--today {
  color: #FF0D1C;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #FF0D1C;
}

.picker__close, .picker__today {
  color: #FF0D1C;
}

#datepicker {
  width: 256px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1em;
  margin-bottom: 0;
}

.picker__wrap {
  margin-top: 1em;
}

.select-date-label {
  margin-top: 1em;
  margin-right: 15em;
  margin-bottom: 0;
  font-size: 0.9em;
  color: #8f8f8f;
}

.select-date-label:active{
  color: grey;
}

/* Airport Not Served*/

.airport-not-served-container {
  margin: 2em;
}

.terms {
  margin-top: 2em;
}

.airportSubmitted {
  margin-top: 2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #FF0D1C;
}
/* Select Restuarant Page */

.restaurant-option {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.restaurant-name {
  font-size: 1.3em;
  margin: 0;
}

.restaurant-decription {
  font-size: 0.8em;
  margin: 0;
  color: grey;
}

a {
  color: black;
}

#food-search {
  margin-bottom: 0;
  border-bottom-color: #FF0D1C;
  height: 5rem;
  font-size: 1em;
  padding-left: 1em;
  color: grey;
}



input::-webkit-input-placeholder {
    color: grey;
    font-weight: 400;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #FF0D1C;
  box-shadow: 0 0px 0 0 #FF0D1C;
}

.white-background {
  background-color: #ffffff;
}

.grey-background {
  background-color: #f9f9f9;
  height: 100vh;
}

/* Restaurant Menu Page */

.restaurant-logo-menu{
  height:15em;
  width:100%;
  opacity: 0.3;
}

.restaurant-name-on-menu{
  position:absolute;
  top:2em;
  left: 0;
  width: 100%;
  text-align:center;
}

.restaurant-description-on-menu {
  position:absolute;
  top:8em;
  left: 0;
  width: 100%;
  text-align:center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.5em;
}

.menu-background {
  background-color: #f9f9f9;
}

.food-title {
  padding-left: 1em;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 20px;
}

#basket-bar-cart {
  padding-top: 1.2em;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}

.list-group-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 0px;
  border-left: 0px;
  height: 8em;
}

/* VIEW HAMPER PAGE */

.x-button {
  margin-left: 0.6em;
}

.total {
  margin-right: 1em;
  margin-top: 1em;
}

/* PAY PAGE */

/*.active {
  color: #b8b8b8 !important;
}*/

/* Order Confirmed */

.order-confirmed-container {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.order-confirmed-container > p {
  margin-top: 2em;
}

/* Order Track */

.items-container {
  height: 28em;
  width:auto;
}

.order-track-container {
  margin: 1.5em;
}

.order-status-icon {
  font-size: 7.5em;
  color: #FF0D1C;
}

.order-circle-icon {
  color: #FF0D1C;
  margin-right: 0.5em;
  margin-top: 3em;
}


.order-status {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

.center-this {
  margin-left: auto;
  margin-right: auto;
}

/* ORDER HISTORY PAGE */

.subtitle-text {
  margin-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  color: #d4d4d4;
}

.sub-text {
  vertical-align: middle;
  color: #d4d4d4;
}

.order-history-subtitle {
  display: inline-block;
  margin-left: 0.4em;
}

.plane-icon {
  color: #d4d4d4;
  vertical-align: text-bottom;
}

.order-option {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 85%;
  display: inline-block;
}

.past-arrow-div {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding-top: 1.2em;
  font-size: 3rem;
  color: #d4d4d4;
}

.active-arrow-div {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding-top: 1.2em;
  font-size: 3rem;
  color: #FF0D1C;
}

/* Order Details Page */

#cancel-modal {
  height: 10em;
}

.cancel-modal-container {
  padding: 1em;
}

.cancel-modal-container > p {
  color: #E12534;
  font-size: 1.3em;
  padding-bottom: 0.5em;
}

.yes-cancel:hover, .yes-cancel:visited, .yes-cancel:active, .yes-cancel:focus {
  background-color: #E12534;
}

.no-cancel:focus, .no-cancel:active, .no-cancel:visited, .no-cancel:hover {
  background-color: #ffffff;
}


.yes-cancel {
  background-color: #E12534;
  color: white;
  margin-left: 1.2em;
}

.no-cancel {
  color: black;
  background-color: white;
  border: solid #E12534 1px;
  float: right;
  margin-right: 1.2em;
}

/* Piccniccer Page */

.grey-text {
  color: #d4d4d4;
}

.piccniccer-title-text {
  font-size: 0.8em;
  margin: 0;
}

.piccniccer-text {
  font-size: 0.8em;
  margin: 0;
  margin-top: 1.2em;
}

.no-padding {
  padding: 0;
}

.icon-margin {
  margin-top: 0.3em;
}

.padding {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

#issue-modal {
  color: black;
  max-height: 26em;
}

.issue-list {

}

.issue-modal-container {
  margin: 2em;
  margin-top: 0;
}

.issue-description {
  height: 5em;
  width: 80%;
}

.issue-description:focus {
  outline: 0px;
  -webkit-appearance:none;
}


/* Retailer Page */

.retailer-order-details {
  padding-left: 2em;
}

.processed-icon {
  float: right !important;
}

.processed-icon-style {
  color: #FF0D1C;
}

.processed {
  color: #FF0D1C;
}

#next-batch {
  opacity: 0.35;
  color: black !important;
}

.retailer-quantity {
  color: #FF0D1C;
}

.retailer-line-item {
  color: black;
}

.retailer-price {
  color: black;
}

.restaurant-image-container {
  position: relative;
}

.restaurant-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 80%;
}

.restaurant-image {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.restaurant-description {
  line-height: 1.4;
}


@media only screen and (min-width: 993px) {
  #icon-right {
    display: none;
  }
  #header {
    margin-left: -220px;
  }
  .desktop-container {
    width: -moz-calc(100% - 220px); /* Firefox */
    width: -webkit-calc(100% - 220px); /* WebKit */
    width: -o-calc(100% - 220px); /* Opera */
    width: calc(100% - 220px); /* Standard */
  }
  .custom-container {
    padding-bottom: 6.5em;
  }
  .side-nav {
    z-index: 0;
  }
  .base-button {
    margin-bottom: 20px;
    margin-left: -220px;
    left: 27%;
    width: 65%;
  }
  .restaurant-image {
    display: none;
  }
  .restaurant-info {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: none;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    display: inline-block;
    width: 100%;
  }
  .outer-restaurant-container {
    width: 70%;
    text-align: left;
    display: inline-block;
  }
  .restaurant-logo {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
  .restaurant-logo img {
    margin-left: 7em;
    width: 50%;
    height: 50%;
  }
}
