* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Header Bar */

.header {
  background-color: white;
  position: fixed;
}

#brand-logo {
  color: black;
  font-weight: 300;
  font-size: 1.5em;
}

.menu-icon {
  margin-right: 0.5em;
  color: #E12534;
}

.back-icon {
  margin-left: 0.5em;
  color: #E12534;
}

/*Body and General*/

.margin-main-content {
  margin-left: 2.6em;
}

.top-line {
  color: #E12534;
  margin-top: 2em;
}

.p-top-margin {
  margin-top: 1em;
}

.base-button {
  background-color: #E12534;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.base-button:hover, .base-button:focus, .base-button:active {
  background-color: #F04E5A;
}

.body-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.question-container {
  padding-top: 2.5em;
}

.standard-question-style {
  font-weight: 350;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  color: #E12534;
}

.dropdown {
  text-align: left;
}

.no-margin {
  margin: 0;
}

.red-color {
  color: #E12534;
}

.custom-container {
  padding-bottom: 4.5em;
}

.larger-custom-container {
  margin-bottom: 5em;
}

.small-text {
  margin-left: 1em;
  font-size: 11px;
  margin-bottom: 0;
}

.fixed-above-button {
  bottom: 0;
  position: fixed;
  margin-bottom: 4em;
}

/* Landing Page */

.date-picker-container {
  margin-top: 1em;
}

#gate {
  color:  #E12534;
}

.modal-return-div {
  display: none;
}

#flight-too-soon-modal {
  height: 325px;
  top: 0% !important;
}

.flight-too-soon-text {
  margin: 1em;
}

.top-line {
  color: #E12534;
  margin-top: 2em;
}

.flight-detail {
  margin: 0;
}

.flight-detail-label {
  font-weight: bold;
}

.flight-detail-container {
  text-align: center;
  width: 65%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #E12534;
}

/* Airport Not Served*/

.airport-not-served-container {
  margin: 2em;
}

.terms {
  margin-top: 2em;
}

.airportSubmitted {
  margin-top: 2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #E12534;
}
/* Select Restuarant Page */

.restaurant-option {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.restaurant-name {
  font-size: 1.3em;
  margin: 0;
}

.restaurant-decription {
  font-size: 0.8em;
  margin: 0;
  color: grey;
}

a {
  color: black;
}

#food-search {
  margin-bottom: 0;
  border-bottom-color: #E12534;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #E12534;
  box-shadow: 0 1px 0 0 #E12534;
}

/* Restaurant Menu Page */

.restaurant-logo-menu{
  height:15em;
  width:100%;
  opacity: 0.3;
}

.restaurant-name-on-menu{
  position:absolute;
  top:2em;
  left: 0;
  width: 100%;
  text-align:center;
}

.restaurant-description-on-menu {
  position:absolute;
  top:8em;
  left: 0;
  width: 100%;
  text-align:center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  line-height: 1.5em;
}

.menu-background {
  background-color: #f9f9f9;
}

.food-title {
  padding-left: 1em;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 20px;
}

#basket-bar-cart {
  padding-top: 1.2em;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 0px;
  border-left: 0px;
}

/* VIEW HAMPER PAGE */

.x-button {
  margin-left: 0.6em;
}

.total {
  margin-right: 1em;
  margin-top: 1em;
}

/* PAY PAGE */

.cvv-input-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#cvv-input {
  height: 3.5rem;
  font-size: 1.5rem;
}

.active {
  color: #E12534 !important;
}
